<template>
<div class="main-page page">
  <h1 class="alert">Attention</h1>
  <h3 class="alert">Construction workers</h3>

  <p>
    This website is under construction.<br>
    Maybe it will be finished...<br>
    Maybe it won't...<br><br>
    Stay tuned!
  </p>
</div>
</template>

<script>
export default {
  name: "MainPage",
  props: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
  .main-page
    display: flex
    flex-direction: column
    height: 100vh
</style>
