<template>
  <div class="head-section">
    <TheHeadLogo />
    <TheHeadTitle />
    <a href="privacy-policy.txt" class="light">privacy policy</a>
  </div>
</template>

<script>
import TheHeadLogo from './the-logo'
import TheHeadTitle from './the-head-title'

export default {
  name: 'TheHeadSection',
  components: {
    TheHeadLogo,
    TheHeadTitle
  }
}

</script>

<style scoped lang="sass">

.head-section
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  width: 100%
  background: linear-gradient(-30deg, #2962FF 0%, #304ffe 100%)
  min-height: 56px

  & > a.light
    display: block
    margin: 16px

</style>
