<template>
  <div class="head-title">
    <span class="main-title">Woah</span>
    <span class="subtitle">Didn't see you</span>
    <span class="secondary-subtitle">What are you doing here?</span>
  </div>
</template>

<script>

export default {
  name: 'TheHeadTitle'
}

</script>

<style scoped lang="sass">
  .head-title
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    color: rgba(255, 255, 255, 0.86)
    font-family: 'Zilla Slab', sans-serif
    min-height: 260px
    height: 100%

  $main-title-font-size: 4em

  @keyframes title-fade-in
    0%
      transform: translateY(40%) rotate(2deg)
      opacity: 0
    100%
      transform: translateY(0) rotate(0deg)
      opacity: 1

  .main-title
    display: flex
    flex-direction: column
    justify-content: flex-end
    font-size: $main-title-font-size
    margin-bottom: 1px
    font-weight: 300
    opacity: 0
    animation-name: title-fade-in
    animation-duration: 1220ms
    animation-delay: 200ms
    animation-fill-mode: forwards
    animation-timing-function: ease

  .subtitle
    display: flex
    flex-direction: column
    font-weight: 500
    font-size: 1.22em
    margin-bottom: 2px
    opacity: 0
    animation-name: title-fade-in
    animation-duration: 840ms
    animation-delay: 600ms
    animation-fill-mode: forwards
    animation-timing-function: ease-out

  .secondary-subtitle
    display: flex
    flex-direction: column
    color: rgba(255, 255, 255, 0.78)
    font-weight: 500
    font-size: 1.05em
    opacity: 0
    animation-name: title-fade-in
    animation-duration: 840ms
    animation-delay: 720ms
    animation-fill-mode: forwards
    animation-timing-function: ease-out

</style>
