<template>
<div class="head-logo">
  superboringdev
</div>
</template>

<script>

export default {
  name: 'TheHeadLogo',
  mounted() {
    /*window.addEventListener('scroll', async e => {
      if (e.target.scrollingElement.scrollTop > 0) {
        this.$el.dataset.hasScrolled = ''
      } else if (!this.$el.dataset.hasScrolled) {
        delete this.$el.dataset.hasScrolled
      }
    })*/
  }
}

</script>

<style scoped lang="sass">
@import ../../util/typography-fluid

.head-logo
  position: fixed
  display: block
  font-family: 'Comfortaa'
  font-size: 1.18em
  width: 100%
  overflow: visible
  box-sizing: border-box
  transition: background-color 280ms ease
  background: transparent
  z-index: 2
  color: rgba(255, 255, 255, 0.86)
  +fluid-anything(20, 28, 560, 800, 'padding')

.head-logo[data-has-scrolled]
  background-color: rgba(26, 35, 126, 0.72)

</style>
