<template>
  <div class="home">
    <MainPage />
  </div>
</template>

<script>
import MainPage from '@/components/main/main-page'

export default {
  name: "home",
  components: {
    MainPage
  }
}
</script>
