<template>
  <div class="nav">
    <router-link to="/">Home</router-link>
    <router-link to="/about">About</router-link>
  </div>
</template>

<script>

export default {
  name: "TheNavigation",
  props: {}
}

</script>

<style lang="sass" scoped>

.nav
  display: flex
  padding: 24px 64px

</style>
