<template>
  <div id="app">
    <TheHeadSection />
  </div>
</template>

<script>
import './fonts.scss'
//import WebFontLoader from 'webfontloader'
import TheHeadSection from '@/components/head/the-head-section'


export default {
  name: 'App',
  components: {
    TheHeadSection
  }
}
</script>

<style lang="sass">

@import util/typography-fluid

html, body
  margin: 0
  cursor: default
  user-select: none
  -webkit-tap-highlight-color: transparent

#app
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  box-sizing: border-box
  +fluid-typography(14, 18, 560, 1920)
  min-height: 320px
  height: 100vh

.page
  background-color: #fafafa
  color: #121212
  padding: 8em 1.54em
  box-sizing: border-box

h1, h2, h3, h4, h5, h6
  font-family: 'Zilla Slab'
  font-weight: 500
  color: #0D47A1

  &.alert
    color: #E65100

h1, h2, h3
  margin: 4px 0

h4, h5, h6
  margin: 2px 0

a.light
  text-decoration: none
  font-size: 0.5em
  color: #daffffff
  font-family: "Comfortaa", "Roboto", Verdana, sans-serif

  &:hover
    color: #faffffff

</style>
